// container  size
$xs: 320px;
$sm: 767px;
$md: 991px;
$lg: 1199px;

///font

$main-font:  'Open Sans', sans-serif;
$text-font: 'Muli', sans-serif;;

//color
$main-color: #2c498c;
$hover-color: #2b92ec;
$heading-color: #333333;
$menu-color: #666666;
$text-color: #7c8189;
$lite-color: #ffffff;